<h2>Lista de Marc por Material</h2>
<p id="notice"><%= notice %></p>
<table border="1">
	<tr>
		<th>Id Marc</th>
		<th>Marc</th>
		<th>Id Material</th>
		<th>Material</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @marcxmateriales.each do |mm| %>
	<tr>
		<td><%= mm.marc_id %></td>
		<td><%=  %></td>
		<td><%= mm.tipomaterial_id %></td>
		<td><%=  %></td>
		<td><%= link_to 'Ver', mm %></td>
		<td><%= link_to 'Editar', edit_marc_x_material_path(mm) %></td>
		<td><%= link_to 'Eliminar', mm, method: :delete, data: { confirm: 'Esta seguro?' }%></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Nuevo Marc por Material', nuevomarc_x_material_path %>
