<%= form_for(@nuevo_asistente) do |f| %>

<% if @nuevo_asistente.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@nuevo_asistente.errors.count, "error") %>
			antes de guardar: </h2>
		<ul>
			<%@nuevo_asistente.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="field">
	<%= f.label :biblioteca_id %>
	<select name="biblioteca_id" id="biblioteca_id" >
		<% Biblioteca.find(:all).each do |a| %>
			<option value="<%=a.id%>"><%= a.nombre %></option>
		<% end %>		
		</select>
</div>

<div class="field">
	<%= f.label :nombre %>
	<%= f.text_field :nombre, {size: "35", maxlength: "40"} %>
</div>

<div class="field">
	<%= f.label :dirección %>
	<%= f.text_field :direccion %>
</div>

<div class="field">
	<%= f.label :teléfono %>
	<%= f.text_field :telefono, {size: "10", maxlength: "8"} %>
</div>

<div class="field">
	<%= f.label :celular %>
	<%= f.text_field :celular, {size:"10", maxlength: "8"} %>
</div>

<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email, {size: "35", maxlength: "40"} %>
</div>

<div class="actions">
	<%= f.submit 'Guardar' %>
</div>
	
<% end %>