<div class="alert alert-success">
	<p><%= notice %></p>
</div>

<p><strong>Biblioteca:</strong>
	<%= @nuevo_asistente.biblioteca_id%> - <%= @relacion_biblioteca.nombre %>
</p>

<p><strong>Nombre:</strong>
	<%= @nuevo_asistente.nombre %>
</p>

<p><strong>Dirección:</strong>
	<%= @nuevo_asistente.direccion %>
</p>

<p><strong>Teléfono:</strong>
	<%= @nuevo_asistente.telefono%>
</p>

<p><strong>Celular:</strong>
	<%= @nuevo_asistente.celular %>
</p>

<p><strong>Email:</strong>
	<%= @nuevo_asistente.email %>
</p>

<p><strong>Cantidad de préstamos:</strong>
	<% if (@nuevo_asistente.cantidaddeprestamos.nil?) %>
	<%= @nuevo_asistente.cantidaddeprestamos = 0 %>
	<% else %>
	<%= @nuevo_asistente.cantidaddeprestamos %>
	<% end %>
</p>

<p><strong>Cantidad de devoluciones:</strong>
	<% if(@nuevo_asistente.cantidaddedevolucion.nil?) %>
	<%= @nuevo_asistente.cantidaddedevolucion = 0 %>
	<% else %>
	<%= @nuevo_asistente.cantidaddedevolucion %>
	<% end %>
</p>
<p><strong>Estado:</strong>
	<% if(@nuevo_asistente.estado) == 1 %>
	<%= @nuevo_asistente.estado = "Activo" %>
	<% else %>
	<%= @nuevo_asistente.estado = "Inactivo" %>
	<% end %>
</p>

<%= link_to 'Editar', edit_asistente_path(@nuevo_asistente), class: "btn btn-link" %> |
<%= link_to 'Atras', asistentes_path, class: "btn btn-link" %>
