<%= form_for(@nuevo_idioma) do |f| %>
	<% if @nuevo_idioma.errors.any? %>
		<div id="alert alert-danger">
			<h2><%= pluralize(@nuevo_idioma.errors.count, "error")%> antes de guardar:</h2>
			<ul>
				<% @nuevo_idioma.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
		</div>
	<% end %>

	<div class="control-group">
		<%= f.label :idioma, class: "control-label" %>
		<div class="controls">
			<%= f.text_field :idioma, class: "input-xlarge", required: true, placeholder: "Idioma" %>
		</div>
	</div>

	<div class="group-control">
		<div class="controls">
			<%= f.submit 'Guardar', class: "btn btn-large btn-primary" %>
		</div>
	</div>

<% end %>