<%= form_for(@nuevo_idioma) do |f| %>
	<% if @nuevo_idioma.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@nuevo_idioma.errors.count, "error")%> antes de guardar:</h2>
			<ul>
				<% @nuevo_idioma.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :idioma %>
		<%= f.text_field :idioma, { size: 25, maxlength: 50 } %>
	</div>

	<div class="actions">
		<%= f.submit 'Guardar' %>
	</div>

<% end %>