<%= form_for(@nuevo_tipoprestamo) do |f| %>
	<% if @nuevo_tipoprestamo.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@nuevo_tipoprestamo.errors.count, "error" ) %> antes de guardar:</h2>
			<ul>
				<% @nuevo_tipoprestamo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :descripcion %>
		<%= f.text_field :descripcion, { size: 30, maxlength: 50 } %>
	</div>

	<div class="actions">
		<%= f.submit 'Guardar' %>
	</div>

<% end %>