<%= form_for(@nuevo_tipoprestamo) do |f| %>
	<% if @nuevo_tipoprestamo.errors.any? %>
		<div id="alert alert-danger">
			<h2><%= pluralize(@nuevo_tipoprestamo.errors.count, "error" ) %> antes de guardar:</h2>
			<ul>
				<% @nuevo_tipoprestamo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="control-group">
		<%= f.label :descripción, class: "control-label" %>
		<div class="controls">
			<%= f.text_field :descripcion, class: "input-xlarge", required: true, placeholder: "Tipo de préstamo" %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit 'Guardar', class: "btn btn-large btn-primary" %>
		</div>
	</div>

<% end %>