<div class="container_table">
	<p>
		<h2>Lista de Bibliotecas</h2>
	</p>
	<div class="alert alert-success">
		<p><%= notice %></p>
	</div>
	<div class="table-responsive">
		<table class="table table-striped" >
			<thead>
				<tr>
					<th>Id_Biblioteca</th>
					<th>Nombre</th>
					<th>Dirección</th>
					<th>Teléfono</th>
					<th>Email</th>
					<th>Estado</th>
					<th>Logo</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @bibliotecas.each do |b| %>
				<tr>
					<td><%= b.id %></td>
					<td><%= b.nombre %></td>
					<td><%= b.direccion %></td>
					<td><%= b.telefono %></td>
					<td><%= b.email %></td>
					<% if (b.estado == 1) %>
					<td><%= b.estado = "Activo" %></td>
					<% else %>
					<td><%=b.estado = "Inactivo" %></td>
					<% end %>
					<td><%= b.logo %></td>
					<td><%= link_to 'Ver',b, class: "btn btn-link" %></td>
					<td><%= link_to 'Editar', edit_biblioteca_path(b), class: "btn btn-link"%></td>
					<td><%= link_to 'Eliminar', b , method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-link"%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%= link_to 'Nueva biblioteca', nuevabiblioteca_path, class: "btn btn-link" %>
</div>