<h1> Nueva Biblioteca</h1>

<%= form_for :biblioteca, url: bibliotecas_path do |f| %>
<% if @nueva_biblioteca.errors.any? %>
	<div id="error_explanation">
      <h2><%= pluralize(@nueva_biblioteca.errors.count, "error") %> antes de guardar:</h2>
		<ul>
			<% @nueva_biblioteca.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="field">
	<%= f.label :nombre %>
	<%= f.text_field :nombre, {:size => "30", :maxlength => "50"} %>	
</div>
<div class="field">
	<%= f.label :direccion %>
	<%= f.text_area :direccion %>
</div>
<div class="field">
	<%= f.label :telefono %>
	<%= f.text_field :telefono, {:size => "10", :maxlength => "8"} %>
</div>
<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email, {:size => "35", :maxlength => "40"} %>
</div>
<div class="field">
	<%= f.label :logo %>
	<%= f.file_field :logo, {:size => "80", :maxlength => "250"} %>
</div>

<div class="actions">
	<%= f.submit 'Guardar'%>
</div>

<% end %>

