<div class="alert alert-success">
	<p><%= notice %></p>
</div>

<p><strong>Nombre:</strong>
	<%= @nueva_biblioteca.nombre %>	
</p>

<p><strong>Dirección:</strong>
	<%= @nueva_biblioteca.direccion %>
</p>

<p><strong>Teléfono:</strong>
	<%= @nueva_biblioteca.telefono %>
</p>

<p><strong>Email:</strong>
	<%= @nueva_biblioteca.email %>
</p>

<p><strong>Estado:</strong>
	<% if(@nueva_biblioteca.estado) == 1 %>
	<%= @nueva_biblioteca.estado = "Activo" %>
	<% else %>
	<%= @nueva_biblioteca.estado = "Inactivo" %>
	<% end %>
</p>

<p><strong>Logo</strong>
	<%= @nueva_biblioteca.logo %>
</p>

<%= link_to 'Editar', edit_biblioteca_path(@nueva_biblioteca), class: "btn btn-link" %> |
<%= link_to 'Atras', bibliotecas_path, class: "btn btn-link" %>
