<%= form_for(@nuevo_tipousuario) do |f| %>
	<% if @nuevo_tipousuario.errors.any? %>
		<div id="alert alert-danger">
			<h2><%= pluralize(@nuevo_tipousuario.errors.count,"error") %> antes de guardar:</h2>
			<ul>
				<% @nuevo_tipousuario.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="control-group">
		<%= f.label :descripción, class: "group-label" %>
		<div class="controls">
			<%= f.text_field :descripcion, class: "input-xlarge", required: true, placeholder: "Tipo de usuario" %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit 'Guardar', class: "btn btn-large btn-primary" %>
		</div>
	</div>

<% end %>