<div class="container_table">
	<p>
		<h1>Tipos de Usuarios</h1>
	</p>
	<div class="alert alert-success">
		<p><%= notice %></p>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id Tipo de Usuario</th>
					<th>Tipo de Usuario</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>		
			</thead>
			<tbody>
				<% @tipousuarios.each do |tu| %>
					<tr>
						<td><%= tu.id %></td>
						<td><%= tu.descripcion %></td>
						<td><%= link_to 'Ver', tu, class: "btn btn-link" %></td>
						<td><%= link_to 'Editar', edit_tipousuario_path(tu), class: "btn btn-link" %></td>
						<td><%= link_to 'Eliminar', tu, method: :delete, data: { confirm: "Esta seguro?" }, class: "btn btn-link" %></td>
					</tr>	
				<% end %>	
			</tbody>
		</table>
	</div>
	<%= link_to 'Nuevo Tipo de Usuario', nuevotipousuario_path, class: "btn btn-link" %>
</div>