<p id="notice"><%= notice %></p>

<p>
  <strong>Tipousuario:</strong>
  <%= @usuario.tipousuario %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @usuario.identificacion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @usuario.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @usuario.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @usuario.celular %>
</p>

<p>
  <strong>Fecharegistro:</strong>
  <%= @usuario.fecharegistro %>
</p>

<p>
  <strong>Username:</strong>
  <%= @usuario.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @usuario.estado %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
