<h1> Lista de Paises</h1>
<p id="notice"><%= notice %></p>
<table border="1">
	<tr>
		<th>Id Pais </th>
		<th>Pais </th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @paises.each do |d| %>
		<tr>
			<td><%= d.id %></td>
			<td><%= d.pais %></td>
			<td><%= link_to 'Ver'%></td>
			<td><%= link_to 'Editar', paises_path(d) %></td>			
			<td><%= link_to 'Eliminar' %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Nuevo pais', nuevopais_path %>