<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Usuarios</title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
</head>
	
<header>
	
		<div class="row">
			<div class="col-xs-8">
				<p class="text-left">Libnet</p>
				<p class="text-left">#Nombre de la biblioteca</p>
				<p class="text-left">#Empresa/instituci&oacuten</p>
			</div>
				
			<div class="col-xs-4">
				<!-- <p class="text-right">JimmyMejia</p>
				<p class="text-right">Cerrar sesion</p> -->
				<p class="text-right"><%= link_to 'JimmyMejia', login_path, class:"btn-link" %></p>
				<p class="text-right"><%= link_to 'Cerrar Sesion', logout_path, class:"btn-link" %></p>
			</div>
		</div>
	
</header>

<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
<footer>
	<div id="footer">
	<p class="text-center">&#169 Derechos reservados <%= Time.now.year %></p>
	</div>
</footer>

</html>